# Build
build/
dist/
*.spec
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg

# Virtual env
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
*.log
*.tmp
